@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.App {
  font-family:'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  min-height: 15vh;
}

.app-footer {
  min-height:5vh;
  padding:5px;
}

.App-intro {
  font-size: large;
}

.content-body {
  background-color:#ffffff; 
  min-height: 50vh;
  height:80vh;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
